<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Trees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>Previous Binary Search Trees</h1>

<ul>
    <li th:each="tree : ${trees}">
        <strong>Input:</strong> <span th:text="${tree.inputNumbers}"></span><br>
        <strong>Tree:</strong> <pre th:text="${tree.treeStructure}"></pre>
    </li>
</ul>



<button onclick="window.location.href='/'">Back to Enter Numbers</button>


<script src="/static/js/main.js"></script>
</body>
</html>
